body {
    background-color: 	#35383b;
}



.navbar {
    background-color: #3C91E6;
    min-height: 100px ;
}


#main-content {
    background-color: #1ED760;
    
}

section.div #main-content {
    color: white;
    
}

#content-cols {
    background-color: #35383b;
    border-radius: 8px;
    
}

h2.title {
    color: whitesmoke;
}

#content-box {
    color: white;
    background-color:#3C91E6 ;
}


.footer{
    background-color: #3C91E6;
}












/* <!-- <section class="columns section">
<div class="column"> 
  <h2 class="header">Spotify Data</h2>
  <div class="box is-small" id="inner-box">
    <section class="columns" id="spotify-main content-box">
      <div class="column">
        Main Data
      </div>
      <div class="column">
        picture data
      </div>
    </section>
  </div>
</div>
<div class="column"> 
  <h2 class="header">Graph Data</h2>
  <div class="box is-small" id="inner-box">
    <section class="columns" id="graph-main content-box">
      <div class="column">
        Main Data
      </div>
    </section>
  </div>
</div> --> */