
body {
    background-color: 	#35383b;
}




.navbar {
    background-color: #3C91E6;
    min-height: 100px ;
    

}
/* ----------------------------------------------------------------- */

.modal-background{
    pointer-events: none;
}


.modal-card-title{
    justify-content: center;
}
.modal-card-body {
    background-color: #1ED760;
}
.modal-card-body .box{
    background-color: #35383b;
    color: whitesmoke;
    text-align: center;
}

.modal-card-head,
.modal-card-foot {
    background-color: #35383b;
    border: 0px solid;
    justify-content: center;
}

.modal button {
    background-color: #1ED760;
    text-align: center;
    
}



/* ----------------------------------------------------------------- */

.title{
    text-align: center;
    color: whitesmoke;

}
/* ----------------------------------------------------------------- */
/* Tabs */


.tab-content {
    display: none;
  }

  .tab-content.active {
    display: inline;
    
  }

.tabs {
    color: whitesmoke;
    }

.tabs li{
    background-color: #1ED760;
    border-radius: 5px;
    margin: 1px;
}

.tabs.is-boxed li.is-active {
    background-color: #3C91E6;
    color: white;
    
}


div.box{
    background-color: #3C91E6;
}

div#shadow-box{
    background-color: #1ED760;
}

ul.content.list {
    color: whitesmoke;
}

#main-content.box {
    background-color: #35383b;
}
/* ----------------------------------------------------------------- */

#main-content {
    background-color: #1ED760;
    color: white;
    max-width: 1400px;

}


#content-cols {
    background-color: #35383b;
    border-radius: 8px;
    
    
}

h2.title {
    color: whitesmoke;
}



#artist-data,
#track-data{
    color: white;
    background-color:#3C91E6;
}

li.is-active a{
    background-color: #3C91E6;
}

h3.title {
   text-align: left;
   
}

/* ----------------------------------------------------------------- */
/* content list */
.list li {
    background-color: #35383b;
    border-radius: 5px;
    padding: 10px;
}

/* ----------------------------------------------------------------- */



.footer{
    background-color: #3C91E6;
}
